.navigation {
    background-color: #f7f7f7;
    display: flex;
    position: sticky;
    width: 100%;
    top: 0;
    height: 7vh;
    border-bottom: 2px solid #f7f7f7;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 6px 8px -1px rgba(0, 0, 0, 0.377);
    z-index: 3;
    font-size: 1.6rem;
    text-transform: uppercase;
    overflow: hidden;
}


.navigation__navs {
    flex: 0;
    display: flex;
    margin-right: auto;
    margin-left: 2.5rem;
}

.navigation__navs nav {
    margin: auto;
    flex: 0 0 12.5rem;
    font-weight: 600;
    font-family: sans-serif;
    
}

.navigation__navs nav a {
    text-decoration: none;
    color: black;
}

.navigation__icons {
    flex: 0 0 40%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10%;
}

.navigation__icons div {
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
}

.navigation__icons div * {
    width: 100%;
    height: 100%;
}

@media (max-width: 500px) {
/*     .navigation__navs nav:first-child{
        display: none;
    } */
    .navigation__navs {
        margin-left: 1rem;
        margin-right: .5rem;
    }
    .navigation__navs nav {
        flex: 0 0 auto;
        margin-right: 1.25rem;
    }
    .navigation__icons {
        padding-left: 0px;
        flex: 0 0 25%;
    }
}

@media (max-width: 400px) {
    .navigation__navs {
        margin-left: .5rem;
        margin-right: auto;
    }
    .navigation__navs nav {
        margin-right: .5rem;
        font-size: 1.4rem;
    }
}

@media (max-height: 600px) {
    .navigation {
        height: 11vh;
    }
}
