body {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    position: relative;
    max-width: 1920px;
    max-height: fit-content;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    z-index: 2;
    background-color: white;
}

@media (min-width: 2000px) {
    body {
        margin: 1rem auto;
    }
}

@media (max-width: 1000px) {
    body {
        margin: 0;
    }
}



