:root {
    --text-c: black;
    --section-columns: 1fr 1fr;
    --section-rows: 1fr;
    --section-auto-rows: 30vh;
    --background-i: url("./assets/blanco/Fondo.jpg");
    --border-main: 3px solid black;
    --certs-img: block;
    --know-columns: 1fr 3fr;
    --html-mobile-size: 62.5%;
    --body-maxh: 50rem; 
    --body-maxw: 110rem;
}

@font-face {
    font-family: "Oswald";
    src: url("./assets/fonts/Oswald-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Nunito";
    src: url("./assets/fonts/Nunito-Medium.ttf") format("truetype");
    font-weight: 400;
}

header {
    font-family: "Oswald";
}

h1, main, section, h2, p {
    font-family: "Nunito";
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: inherit;
    padding: 0;
}

html {
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

body {
    background-image: radial-gradient(#f7f7f7, #9c9c9c 80%);
    display: flex;
    flex-direction: column;
    color: var(--text-c);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    max-height: var(--body-maxh);
    max-width: var(--body-maxw);
    transition: 2s
}

header {
    height: 5%; 
    width: 95%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

nav {
    font-size: 2.5rem;
}

main {
    width: 95%;
    height: 90%;
    margin: 0 auto;
}

section {
    margin: 0 auto;
    overflow: auto;
    scrollbar-width: none;
    border: var(--border-main);
    height: 100%;
    width: 100%;
}

.icons {
    height: 5%; 
    width: 100%;
    display: flex;
    justify-content: center;
}

.icons * {
    height: 100%;
    margin: 0 5px;
}

.art {
    cursor: pointer;
}

/* A partir de aqui empieza en mobile */

 .mobile-body {
    max-height: none;
}

.mobile-body nav {
    font-size: 1.5rem;
}
/*
.mobile-body main {
    height: 75rem;
    width: 43rem;
}

.mobile-body .me {
    text-decoration: underline;
}

.mobile-body section {
    height: 70rem;
    width: 43rem;
}

 */

 @media(max-width: 1300px) {
    html {
        font-size: 50%;
    }
 }
