:root {
    --text-c: black;
    --main-columns: 1fr;
    --main-rows: 1fr 9fr;
    --section-columns: 1fr 1fr;
    --section-rows: 1fr;
    --section-auto-rows: 30vh;
    --background-i: url("./assets/blanco/Fondo.jpg");
    --border-main: 3px solid black;
    --certs-img: block;
    --know-columns: 1fr 3fr;
}

@font-face {
    font-family: "Oswald-Bold";
    src: url("./assets/fonts/Oswald-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Nunito-Medium";
    src: url("./assets/fonts/Nunito-Medium.ttf") format("truetype");
    font-weight: 400;
}

header ul li {
    font-family: "Oswald-Bold";
    font-weight: 700;
}

main section {
    font-family: "Nunito-Medium";
    font-weight: 400;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: inherit;
    padding: 0;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-size: 62.5%;
}

body {
    background-image: var(--background-i);
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 4% 7%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 95% 5%;
    color: var(--text-c);
    overflow: hidden;
    box-sizing: border-box;
}

main {
    margin: auto;
    max-width: 198rem;
    max-height: 108rem;
    width: 95%;
    height: 95%;
    display: grid;
    grid-template-columns: var(--main-columns);
    grid-template-rows: var(--main-rows);
}

header {
    grid-column: 1/-1;
    grid-row: 1/2;
}

ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    width: 10%;
    text-align: center;
    font-size: 2.5rem;
}

section {
    grid-column: 1/-1;
    grid-row: 2/-1;
    display: grid;
    grid-template-columns: var(--section-columns);
    grid-template-rows: var(--section-rows);
    grid-auto-rows: var(--section-auto-rows);
    overflow: auto;
    scrollbar-width: none;
    animation-name: var(--animation-section);
    animation-duration: 4s;
    border: var(--border-main);
    width: 100%;
    height: 100%;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: auto;
}

.icons * {
    height: 4rem;
    margin: .5rem;
}

/* A partir de aqui empieza en mobile */

.mobile-body {
    padding: 0px;
    height: 100%;
    width: 99%;
}

.mobile-body > main {
    max-width: 78.5rem;
    height: 100%;
    width: 100%;

}

.mobile-body main ul {
    justify-content: space-between;
}

.mobile-body .me {
    text-decoration: underline;
}

.mobile-body > section {
    height: 90%;
    width: 95%;
}
