body {
    background-color: rgb(233, 221, 221);
}

main {
    margin: 10px auto;
    margin-top: 30px;
    background-color: rgb(216, 200, 189);
    padding: 30px;
    margin-bottom: 30px;
    max-width: 1000px;
    text-align: center;
    box-sizing: border-box;   
}

.lodearriba {
    text-align: center;
    background-color: rgb(216, 200, 189);
    font: 1.3rem "Fira Sans", sans-serif;
    width: 800px;
    margin: 0px auto 30px auto;
    padding-bottom: 15px;
    padding-top: 10px;
}

h1 {
    margin: 0px;
    padding: 0px;
}

.subtitulo {
    padding: 0;
    margin: 0;
    font: 1rem "Fira Sans", sans-serif;
}

.laimagen {
    margin: 0px auto;
    text-align: center;
    background-color: rgb(233, 221, 221);
    padding-bottom: 15px;
    width: 100%;
    height: auto;
    box-sizing: border-box;  
    
}


.imagen {
    max-width: 90%;
    height: auto;
    margin: 0px auto;
    display: block;
    background-color: rgb(233, 221, 221);
    padding: 20px 20px 0 20px;
    text-align: center;
    box-sizing: border-box;
    
}

.lalista {
    border: 1px solid black;
    width: 600px;
    text-align: justify;
    height: 680px;
    margin: 10px auto;
    margin-top: 20px;
    border: none;
    margin-bottom: 0px;
}

li {
    margin: 10px auto;
    height: auto;
    margin-right: 20px;
    font: 1rem "Fira Sans", sans-serif;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.leyenda {
    font: 0.9rem "Fira Sans", sans-serif;
    margin-top: 10px;
    text-align: center;    
}

.miNombre {
    text-align: center;
    font: 0.7rem "Fira Sans", sans-serif;
    margin-bottom: 30px;
    margin-top: 0px;
}

.elLink {
    text-align: center;
    font: 0.9rem "Fira Sans", sans-serif;
    margin-top: 40px;
}

span {
    font-weight: bold;
}
