.section-practice {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30%;
    grid-auto-rows: 30%;
}

.practice {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
    background-color: white;
    box-shadow: .25rem .25rem .75rem black;
}

.practice a {
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

.practice img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.practice h5 {
    height: 10%;
    font-size: 2rem;
    text-align: center;
    font-family: "Nunito";
}


