.section-practice {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30%;
    grid-auto-rows: 30%;
}

.practice {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    height: 95%;
    background-color: #f7f7f7;
    box-shadow: 5px 5px 10px rgb(0,0,0,.6);
}

.practice a {
    width: 90%;
    height: 70%;
    margin: 0 auto;
}

.practice img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.practice h5 {
    height: 10%;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Nunito";
}


