.card {
    width: 100%;
    height: 100%;
}

div, h1, h2 {
    font-family: Helvetica, sans-serif;
}

h3, p {
    font-family: Georgia, serif;
    font-weight: normal;
}

#reddit, #moon, #language, .vacio {
    width: 100%;
    height: 100%;
}


.divdiv {
    margin: 0px auto;
    height: 35px;
    width: 35px;
}

/* .oldReddit, .white-black, .ing-esp {
} */

#theme {
    padding: 20px;
}

.separator {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    vertical-align: middle;
    height: 100%;
    text-align: center;
    line-height: 200%;
    font-size: 2rem;
}

#profile {
    display: grid;
    grid-row: 1 / -1; 
    grid-column: 2 / 3;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    width: 100%;
}

#perfileImg {
    width: 80%;
    min-width: 80%;
    height: 80%;
    border-radius: 50%;
}

#info{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    text-align: center;    
}
/* usar calc para modificar el font-size
 */

.icon {
    max-width: 15%;
    margin: 10px 5px;
}

#board {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 52%;
    grid-auto-rows: 52%;
    overflow: auto;
}

#projects {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 4fr .5fr;
    grid-template-rows: .7fr 9.3fr;
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
}

#main {
    width: 95%;
    max-width: 1980px;
    height: 95%;
    max-height: 1080px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

#body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    max-width: 1980px;
    max-height: 1080px;
    margin: auto;
    padding: auto;
    background-image: url(https://github.com/RuxCastillo/Img-host/blob/main/mamol%20fondo.jpg?raw=true);
    background-size: cover; 
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0px;
}

#html {
    font-size: 62.5%;
    width: 100vw;
    height: 100vh;
}

@media (max-width: 1550px) {
    div, h1, h2 {
    font-family: Helvetica, sans-serif;
    font-size: 1.7rem;
    }

    h3, p {
        font-family: Georgia, serif;
        font-weight: normal;
        font-size: 1.7rem;
    }
    #phrase {
        position: fixed;
        bottom: 5px;
        left: 5px;
        width: 6vw;
        height: 7vh;
    }
    .configuration {
        max-width: 35px;
        max-height: 35px;
    }
    #configuracion {
        max-width: 50px;
        max-height: 50px;
    }
    #html {
        margin: auto;
    }
}

@media (max-width: 1300px) {
    #board {
        grid-template-columns: 1fr 1fr;
    }
    #main {
        grid-template-columns: 2fr 1fr;
    }
    #projects {
        grid-template-columns: 1fr 1fr 1fr .5fr;
    }
    .vacio {
       display: none
    }
    div, h1, h2 {
    font-family: Helvetica, sans-serif;
    font-size: 1.7rem;
    }

    h3, p {
        font-family: Georgia, serif;
        font-weight: normal;
        font-size: 1.7rem;
    }
    #phrase {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 6vw;
        height: 7vh;
    }
    .configuration {
        max-width: 50px;
        max-height: 50px;
    }
    #configuracion {
        max-width: 50px;
        max-height: 50px;
    }
}

@media (max-width: 1000px) {
    #board {
        grid-template-columns: 1fr;
        font-size: 1.7rem;
    }
    #main {
        grid-template-columns: 1.3fr 1fr;
        font-size: 1.7rem;
    }
    #projects {
        grid-template-columns: 1fr 1fr 1fr .5fr;
    }
    .vacio {
       display: none
    }
    #phrase {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 7vw;
        height: 8vh;
    }
    .configuration {
        max-width: 50px;
        max-height: 50px;
    }
    #configuracion {
        max-width: 50px;
        max-height: 50px;
    }
}

@media (max-width: 781px) {
    .configuration {
        max-width: 50px;
        max-height: 50px;
    }
    #configuracion {
        max-width: 50px;
        max-height: 50px;
    }
    #projects {
        grid-template-columns: 1fr 1fr 1fr .5fr;
        grid-template-rows: 1fr .1fr;
    }
    .vacio {
       display: none
    }
    #moon {
        padding-top: 5px;
    }
    #language {
        padding-bottom: 0px;
    }
    #moon, #language {
        max-width: 38px;
        max-height: 38px;
    }
    
    #phrase {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 12vw;
    height: 7vh;
}

    #reddit, #moon, #language {
        width: 100%;
        height: 100%;
    }

    .divdiv {
        margin: 0px auto;
        height: 50px;
        width: 50px;
    }

    /* .oldReddit, .white-black, .ing-esp {
    } */

    #theme {
        padding: 20px;
    }

    #profile {
        display: grid;
        grid-row: 2 / 3; 
        grid-column: 1 / 2;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
    }

    #perfil-picture {
        width: 80%;
        height: 80%;
        border-radius: 50%;
    }

    #perfileImg {
        margin: auto;
        justify-self: center;
        align-self: center;
    }

    #info{
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
        text-align: center;    
    }
    /* usar calc para modificar el font-size
    */

    #icon {
        max-width: 15%;
        margin: 10px 5px;
    }

    #board {
        grid-row: 4 / 4;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 55%;
        grid-auto-rows: 55%;
        min-height: 90%;
    }

    #main {
        width: 95%;
        height: 95%;
        display: flex;
        flex-direction: column;
        margin: 0px;
        max-width: 500px;
    }

    #body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-image: url(https://github.com/RuxCastillo/Img-host/blob/main/mamol%20fondo.jpg?raw=true);
        background-size: cover; 
        position: relative;
    }

    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    *::-webkit-scrollbar {
    width: 0px;
    }

    #html {
        font-size: 62.5%;
        width: 100%;
        height: 100%;
    }
    #abrirPerfil {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 25%;
        right: 0px;
        width: 30px;
        height: 50%;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: black;
    }
    #seeProfile {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #miNombre {
        writing-mode:vertical-rl;
        color: black;
        font-weight: bolder;
        text-orientation: mixed;

    }
    #cambioProfile {
        height: 80%;
        width: 100%;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        padding: 0px;
        align-content: space-between;
        justify-content: space-between;
    }
    
    .regresarBoton {
        width: 50%;
        height: 7%;
    }
    
    #losP {
        padding: 5px;
        height: 90%;
        font-size: 2rem;
        text-align: center;
        padding: 10px;
    }
    
    .aboutMeText1, .aboutMeText2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-family: Georgia, serif;
        font-weight: normal;
    }
    div, h1, h2 {
        font-family: Helvetica, sans-serif;
        font-size: 1.7rem;
    }

    h3, p {

        font-size: 1.7rem;
    }
}
