/* aqui va lo de las tarjetas */
.tarjetaPractice {
    width: 97%;
    height: 97%;
    margin: 2.5% auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr .8fr 2fr .8fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 5px;
}

#PracticeImg {
    width: 90%;
    min-height: 95%;
    max-height: 95%;
    margin: 0 auto;
    grid-row: 1 / 2;
    border-radius: 15px;
}

.tarjetaPractice h2 {
    grid-row: 2 / 3;
    text-overflow: ellipsis;
}

p.pPractice {
    grid-row: 3 / 4;
    width: 90%;
    height: 90%;
    font-size: 1.6rem;
}

.tarjetaPractice .code-button {
    grid-row: 4 / 5;
}

.tarjetaPractice button {
    width: 70%;
    height: 100%;
}

 
