.proyects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    justify-content: start;
    border: var(--border-main);
}

.proyects h3 {
    font-size: 4rem;
    margin-bottom: 2%;
}

.proyects img {
    object-fit: cover; 
    width: 55rem;
    height: 30rem;
}

.proyects p {
    margin: auto;
    font-size: 1.75rem;
}

/* mobile pow */

.mobile-pow {
    width: 43rem; 
}

.mobile-pow img {
    width: 38rem;
    height: 20rem;
    padding-bottom: 1rem;
}