.section-pow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}


.proyects {
    background: white;
    margin: .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    justify-content: start;
    border: var(--border-main);
    box-shadow: 1rem 1rem 1.5rem black;
    overflow: hidden;
}

.proyects h3 {
    font-size: 4rem;
    margin-bottom: 2%;
}

.proyects img {
    object-fit: cover; 
    width: 90%;
    height: 50%;
}

.proyects p {
    margin: auto;
    font-size: 1.75rem;
    font-family: "Nunito";
}

/* mobile pow */
/* 
.mobile-pow {
    width: 43rem; 
}

.mobile-pow img {
    width: 38rem;
    height: 20rem;
    padding-bottom: 1rem;
} */