.proyects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    justify-content: start;
    border: 3px solid black;
}

.proyects h3 {
    font-size: 2.5rem;
    margin-bottom: 2%;
}

.proyects img {
    object-fit: cover; 
    width: 80%;
    height: 45%;
}

.proyects p {
    margin: auto;
}

