.main__about {
    background-image: linear-gradient(to bottom right, rgb(72, 72, 190), rgb(2, 2, 56));
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__about-introduction {
    flex: 0 0 40%;
    margin-right: 2rem;
    color: #f7f7f7;
}

.main__about-introduction span {
    color: var(--tercer-color);
}

.main__about-introduction h1 { 
    font-size: 5rem;
    font-weight: 500;
}

.main__about-introduction h2 {
    font-size: 1.6rem;
    font-weight: 400;
    font-style: italic;
}

.main__about-introduction p {
    font-size: 1.8rem;

}

.main__about-picture {
    flex: 0 0 30%;
}

.main__about-picture img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}