.main__knowledge {
	min-height: 60vh;
	height: fit-content;
	background-image: linear-gradient(
		to bottom right,
		var(--secondary-color),
		var(--tertiary-color)
	);
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	color: var(--primary-text);
	font-size: 1.9rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f7f7f7;
}

.main__knowledge-form {
	background-image: linear-gradient(
		to bottom right,
		var(--secondary-color),
		var(--tertiary-color)
	);
	flex: 0 0 45%;
	height: 48rem;
	padding: 4rem;
	padding-top: 8rem;
	border-radius: 15px;
	position: relative;
	box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.3);
}

.main__knowledge-form .form {
	height: 100%;
	border-radius: 15px;
	background-color: #f7f7f7;
}

.form__circle {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, -50%);
	width: 12.5rem;
	height: 12.5rem;
	border-radius: 50%;
	background-image: linear-gradient(
		to bottom right,
		var(--tertiary-color),
		var(--secondary-color)
	);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.3);
}

.form__circle-inner {
	width: 85%;
	height: 85%;
	border-radius: 50%;
	background-color: white;
	background-image: url('../../assets/form.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	transform: rotateY(180deg);
}

.form__contact {
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	border-radius: 15px;
}

.form__contact-name {
	height: 20%;
}

.form__contact-email {
	height: 20%;
}

.form__contact-message {
	height: 60%;
}

.form-block {
	position: relative;
	width: 90%;
}

.input-form {
	width: 50%;
	height: 50%;
	line-height: 4rem;
	margin-top: 2rem;
	background-color: transparent;
	border: 0;
	border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}

.textarea-form {
	margin-top: 2rem;
	width: 100%;
	height: 80%;
	background-color: transparent;
	border: 0;
	border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}

.input-label {
	position: absolute;
	left: 1rem;
	top: 3rem;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 1.3rem;
	transition: top 0.3s ease;
}

input:focus,
textarea:focus {
	outline: 0;
}

.input-label.typing {
	top: 1rem;
	color: rgba(0, 0, 0, 0.5);
}
.label__message.typing {
	top: 1px;
	color: rgba(0, 0, 0, 0.5);
}

.form__contact-button {
	color: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 3rem;
	right: 4rem;
	padding: 1rem;
	background-color: transparent;
	border: 0;
	text-decoration: underline;
	text-transform: uppercase;
	font-family: sans-serif;
}

.form__contact-button:hover {
	color: var(--secondary-color);
}

/* aqui inicia lo de las certificaciones */

.main__knowledge-certs {
	flex: 0 0 45%;
	height: 90%;
	padding: 2rem;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
}

.main__knowledge-certs h4 {
	font-size: 3rem;
	padding-left: 4rem;
}

.main__knowledge-certs ul {
	padding-top: 2rem;
}

.main__knowledge-certs li {
	margin: 1.5rem;
	list-style: none;
	color: white;
}

.main__knowledge-certs li a {
	color: white;
}

@media (max-width: 1000px) {
	.main__knowledge {
		height: fit-content;
		border-radius: 0px;
		flex-direction: column;
	}
	.main__knowledge-form {
		order: 3;
		width: 80%;
		height: 30rem;
		margin: 5rem;
	}
	.main__knowledge-form .form {
		height: 30rem;
	}
}

@media (max-width: 500px) {
	.main__knowledge-certs div {
		width: 95%;
		padding: 1rem;
		padding-top: 2rem;
		margin-left: 0;
	}
}
