.main__proyects {
	height: fit-content;
	min-height: 60vh;
	background-image: radial-gradient(rgb(192, 190, 190), var(--primary-color));
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: minmax(min-content, 1fr);
	width: 100%;
	align-content: center;
	justify-items: center;
	align-items: center;
}

a,
.a {
	width: 85%;
	height: 85%;
	text-decoration: none;
	color: black;
	display: block;
	overflow: hidden;
	background-color: transparent;
}

.proyect {
	flex-direction: column;
	max-width: 750px;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.8;
	box-shadow: 0.5rem 0.5rem 1rem rgb(0, 0, 0, 0.3);
	border: 3px solid #f7f7f7;
	border-radius: 15px;
	padding: 2rem;
	margin: 0 auto;
}

.proyect div {
	flex: 0 0 30%;
	width: 30%;
	height: 30%;
	display: flex;
	align-items: center;
	padding: 1rem;
	background-color: transparent;
}

.proyect div * {
	width: 100%;
	height: 100%;
}

.proyect h3 {
	flex: 0 0 15%;
	text-align: center;
	font-size: 3rem;
	margin: 0.5rem auto;
}

.proyect p {
	flex: 0 0 40%;
	font-size: 2rem;
	text-overflow: ellipsis;
}

.proyect p a {
	height: fit-content;
	width: fit-content;
	text-decoration: underline;
	display: inline;
}

@media (max-width: 1000px) {
	.main__proyects {
		height: fit-content;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(min-content, 1fr);
	}
	.proyect h3 {
		font-size: 3.5rem;
	}
	.proyect p {
		font-size: 2.5rem;
	}
}

@media (max-width: 500px) {
	.main__proyects {
		height: fit-content;
	}
	.proyect {
		padding: 1rem;
	}
	a {
		width: 90%;
		height: 85%;
	}
	.proyect div {
		padding: 0.3rem;
		flex: 0 0 30%;
	}
	.proyect h3 {
		font-size: 2.25rem;
		margin: 0.5 auto;
	}
	.proyect p {
		font-size: 1.6rem;
	}
}
