.section-know {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.know {
    padding: 5px;
    display: grid;
    grid-template-columns: var(--know-columns);
    grid-template-rows: 1fr 2fr .7fr;
    height: 30%;
    width: 95%;
    margin: 15px;
    background-color: var(--background-c);
    font-family: "Nunito";
    box-shadow: var(--contorno);
}

.know > img {
    display: var(--certs-img);
    grid-column: 1/2;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
}

.know h4 {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0 1vw;
    font-size: 3rem;
}

.know p {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 0 1vw;
    font-size: 1.5rem;
}

.know .icons-certs {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    padding: 0 1vw;
    padding-left: 0px;
}

.know .icons-certs img {
    width: 7%;
    padding: 0 1vw;
    height: 80%;
    flex-basis: 0;
}

.icons-certs > img {
    padding-left: 0px;
}

