.know {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: var(--know-columns);
    grid-template-rows: 1fr 1fr .7fr;
    height: 29rem;
    width: 156rem;
}

.know > img {
    display: var(--certs-img);
    grid-column: 1/2;
    grid-row: 1/-1;
    object-fit: cover;
    width: 40rem;
    height: 25rem;
}

.know h4 {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0 1vw;
    font-size: 4rem;
    height: 5rem;
}

.know p {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 0 1vw;
    font-size: 2rem;
    height: 10.5rem;
}

.know .icons-certs {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    height: 5rem;
    align-items: center;
    padding: 0 1vw;
    padding-left: 0px;
}

.know .icons-certs img {
    width: 7%;
    padding: 0 1vw;
    height: 80%;
    flex-basis: 0;
}

.icons-certs > img {
    padding-left: 0px;
}

.mobile-certs h4 {
    font-size: 1.5rem;
    text-align: center;
}

.mobile-certs p {
    font-size: .8rem;
    text-align: center;
}

.mobile-certs img {
    max-height: 2rem;
    width: 2rem;
}

.mobile-certs .icons-certs {
    justify-content: center;
}