.section-about-me {
    display: grid;
    grid-template-columns: .8fr .6fr;
    grid-template-rows: 1fr;
    padding: 2.5% 2.5%;
}

.about-me {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/2;
}

.about-me h1 {
    font-size: 5rem;
    grid-column: 1/2;
    grid-row: 1/2;
}

.about-me h2 {
    font-size: 3rem;
}

.about-me p {
    font-size: 2rem;
}

.about-me div {
    height: 2rem;
}

.about-me div a i {
    font-size: 4rem;
    margin: 0 5px;
    color: var(--text-c);
}

section .container-pc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0rem;
    padding-right: 5rem;
    height: 80rem;
    width: 60rem;
}

 section .picture {
    width: 100%;
    height: 100%;
    animation-name: var(--animation-picture);
    animation-duration: 3s;
}





