.about-me {
    display: flex;
    flex-direction: column;
    padding: 10rem 5rem;
    height: 80rem;
    width: 100rem;
    grid-column: 1/2;
    grid-row: 1/2;
}

.about-me h1 {
    font-family: "Oswald-Bold";
    font-size: 5rem;
    grid-column: 1/2;
    grid-row: 1/2;
    height: 8rem;
}

.about-me h2 {
    font-size: 3rem;
    height: 9rem;
}

.about-me p {
    font-size: 2rem;
    padding-top: 1rem;
}

section .about-me div {
    height: 32rem;
    display: flex;
    align-items: flex-end;
}

.about-me a img {
    width: 8rem;
}

section .container-pc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0rem;
    padding-right: 5rem;
    height: 80rem;
    width: 60rem;
}

 section .picture {
    width: 55rem;
    height: 60rem;
    animation-name: var(--animation-picture);
    animation-duration: 3s;
}

/* Desde aqui empieza lo del cel */


section .mobile-abm {
    grid-column: 1/-1;
    grid-row: 2/-1;
    padding: 1%;
    width: 45rem;
    height: 40rem;
}

.mobile-abm h1 {
    width: 43rem;
    font-size: 3rem;
}

.mobile-abm h2 {
    width: 43rem;
    font-size: 2rem;
}

.mobile-abm p {
    width: 43rem;
    font-size: 1.3rem;
}

.mobile-abm a img {
    width: 8rem; 
    grid-column: 1/2;
    grid-row: 4/5;
}

section .container {
    position: relative;
    width: 43rem;
    height: 29rem;
    grid-column: 1/-1;
    grid-row: 1/2;
    margin: auto;
}

section .container .mobile-pic {
    margin: auto;
    height: 28rem;
    width: 25rem;
    padding: 0px;
    top: .5rem;
    right: 10rem;
    border-radius: 50%;
    position: absolute;
    object-fit: fill;
}

.sleep {
    display: none;
}

/* @media (min-height: 800px) {
    section .container .mobile-pic {
        width: 65%;
        right: 17.5%;
        background-color: white;
    }
} */



